* {
    margin: 0;
    padding: 0;
    }
    header{
            display: flex;
            justify-content: center;
            margin: 5%;
        }
        h1 {
            font-size: 3em;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            }     
    main{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }
    section{
        display: grid;
        background-color: gray;
        flex-direction: column;
        border-color: black;
        border-style: solid;
        margin: 1%;

    }
        h2{
            border-color: black;
            border-style: solid;
            justify-self: end;
            padding: 0;
            font-size: 1em;
            font-style: normal;
            padding-right: 10%;
            padding-left: 10%;
            margin-bottom: 5%;
            background-color: #da9597;       
        }
        p{
            font-size: 0.75em;
            padding: 8px;
        }
        .to {
            background-color: #c94246;
        }
        .tree{
            background-color: #e9cd9b;
        }
        @media screen and (min-width : 766px) and (max-width : 991px) {
         
            main{
                flex-direction: row;         
                flex-wrap: wrap;
                justify-content: space-between;
                justify-items: stretch;

                   
        
            }
            section{
                width: 47%;
                flex-shrink: initial;
                flex-grow: initial;
            }
            .su {
                width: 100%;
              }
        }
        @media screen and (min-width : 991px) {
        
            main{
                   flex-direction: row;         
            }
        }
