@media (min-width:768px) {
  .row-cols-md-2 > * {
    flex: 0 0 auto;
    /*width: 50%;*/
  }
}

.su {
  width: 100%;
}

@media (min-width:1200px) {
  .row-cols-xl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
}

